header{
    padding-left: 50px;
    display: flex;
    background-color: #333;
    color: white;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-right: 60px;
}
/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #333;
    color: white;
    width: 100%;
    margin-top: 50px;
}
.question_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.choice_input_sub{
    width: 20%;

}

.question_container button {
    width: 10%;
}

.question{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.Quest_sub{
    width: 50%;
    padding: 10px;
}

.Choice{
    display: flex;
    gap: 20px;
    align-items: center;
}

.form_div{
    margin-top: 40px;
}