<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau de bord</title>
</head>
<body>
    <h2>Bienvenue sur le tableau de bord</h2>
    <p>Vous êtes connecté !</p>

    <form action="/protected" method="get">
        <button>What is the User ?</button>
    </form>

    <form action="/counter">
        <button>Counter</button>
    </form>

    <form action="/profile">
        <button>Profile</button>
    </form>

    <form action="/sondage" method="post">
        <div id="surveyForm">
            <h2>Ajouter un sondage</h2>
            <label for="surveyTitle">Titre du sondage</label>
            <input id="surveyTitle" name="surveyTitle" type="text" required placeholder="Titre du sondage">
            <br>
            <div class="question">
                <label for="choices">Choix</label>
                <input name="questions[0][choices][]" type="text" placeholder="Choix 1" required>
                <input name="questions[0][choices][]" type="text" placeholder="Choix 2" required>
                <input name="questions[0][choices][]" type="text" placeholder="Choix 3" required>
            </div>
            <br>
            <br>
            <button type="submit">Soumettre le sondage</button>
        </div>
    </form>
    <br>
    <br>

    <form action="{{ url_for('logout') }}" method="POST">
        <button type="submit">Se déconnecter</button>
    </form>



</body>
</html>
