<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
</head>
<body>
    <h2>Bienvenue, {{ user['username'] }}</h2>

    <div id="profile-info">
        <p>Nom d'utilisateur: <span id="username">{{ user['username'] }}</span></p>
        <p>Email: <span id="email">{{ user['email'] }}</span></p> <!-- Remplacez `email` par les champs réels dans votre base -->
        <p>Crée le: <span id="created_at">{{ user['created_at'] }}</span></p> <!-- Exemple de champ -->
    </div>




</body>
</html>
